<div class="panel">
    <header class="panelTop newsListHeader">
        <div class="contentTop">
            <span class="contentShare">
                <g:plusone size="small" annotation="none" href="href="{URL}"></g:plusone>
                <a href="http://www.facebook.com/share.php?u={URL}"><img src="theme/fb_icon.png" /></a>
                <a href="http://www.facebook.com/share.php?u={URL}"><img src="theme/tw_icon.png" /></a>
            </span>
            
            <h2 class="title newsListTitle"><a href="{URL}" title="{TITLE}">{TITLE}</a></h2>
        </div>
        
        <div class="contentMeta">
            <div class="contentMetaComments">
                <a href="{URL}#listComments" title="Skomentuj: {TITLE}">Komentarze ({COMMENTS})</a>
            </div>
        
            <div class="contentMetaAuthor">
                <time datetime="{DATETIME}" pubdate>{TIME}</time>,
                Autor: {AUTHOR}
                <br />
                Kategorie: {CATEGORIES}
                Tagi: {TAGS}
            </div>
        </div>

    </header>
    
    <article class="panelMainShort contentNews">
    <!-- IF IMAGE_EXIST -->
        <img src="{IMAGE}" alt="" class="newsImage" />
    <!-- ENDIF -->
    {CONTENT}
    </article>
    
    <footer class="panelBottom">
        <span class="newsComments">
        <!-- IF U_CAN_EDIT -->
            (<a href="{EDITLINK}">Edytuj</a>)
        <!-- ENDIF -->
        </span>
    
    </footer>
</div>