<div class="panel">
    <div class="panelTop">
        Informacja: {MESSAGE}
    </div>
    <div class="panelMain">
        <!-- IF TYPE == '403' -->
            <div class="center">
                <h2 class="error center">Brak dostępu</h2>
                <h3 class="desc">Nie masz dostępu do tej podstrony.</h3>
            </div>
        <!-- ENDIF -->
        <!-- IF TYPE == '404' -->
            <div class="center">
                <h2 class="error center">Nie znaleziono strony</h2>
                <h3 class="desc">Podana podstrona nie została znaleziona.</h3>
            </div>
        <!-- ENDIF -->
        <div class="message-desc">
            Prosimy upewnić się, że wywoływany adres jest poprawny, spróbować ponownie za jakiś czas i jeśli problem będzie się utrzymywał, bylibyśmy naprawdę wdzięczni za jego zgłoszenie problemu na łamach forum.
            <div style="text-align:right">
                <i><b>Administracja serwisu</b></i>
            </div>
        </div>
    </div>
    <div class="panelBottom"></div>
</div>