<div class="panel">
  <div class="panelTop">Generator haseł</div>
  <div class="panelMain">
		<form id="formPasswordGenerator" action="" method="post">
		  <fieldset>
		    <table class="generator_hasel" style="width:600px;font-size:12px;">
					<!-- IF GENERATE_ERROR -->
		        <tr>
		          <td colspan="2" align="center">
								<!-- BEGIN error -->
									<h3 style="color:red;">{error.INFO}</h3></td>
								<!-- END error -->
		        </tr>
					<!-- ENDIF -->
		      <tr>
		        <td>Długość hasła:</td>
		        <td><input type="text" name="length" value="{LENGTH}" class="textbox" /> <i>od 1 do 255 znaków</i></td>
		      </tr>
		      <tr style="padding:5px;">
		        <td>Duże litery:</td>
		        <td><input type="checkbox" name="chars[upper]"<!-- IF CHECK_UPPER -->checked="checked"<!-- ENDIF --> /> <i>A B C D E F G H I J K L M N O P Q R S T U V W Y X Z</i></td>
		      </tr>
		      <tr style="padding:5px;">
		        <td>Małe litery:</td>
		        <td><input type="checkbox" name="chars[lower]"<!-- IF CHECK_LOWER -->checked="checked"<!-- ENDIF --> /> <i>a b c d e f g h i j k l m n o p q r s t u v w y x z</i></td>
		      </tr>
		      <tr>
		        <td>Cyfry:</td>
		        <td><input type="checkbox" name="chars[numeric]"<!-- IF CHECK_NUMERIC -->checked="checked"<!-- ENDIF --> /> <i>0 1 2 3 4 5 6 7 8 9</i></td>
		      </tr>
		      <tr>
		        <td>Znaki interpunkcyjne: </td>
		        <td><input type="checkbox" name="chars[punctuation]"<!-- IF CHECK_PUNCTUATION -->checked="checked"<!-- ENDIF -->> <i>. , : ; ! ? - _ [ ] ( ) { }</i></td>
		      </tr>
		      <tr>
		        <td>Znaki specjalne: </td>
		        <td><input type="checkbox" name="chars[special]"<!-- IF CHECK_SPECIAL -->checked="checked"<!-- ENDIF -->> <i>@ # $ % ^ * + = / \</i></td>
		      </tr>
		      <tr>
		        <td colspan="2" align="center">
		          <input type="submit" name="generate" value="Generuj nowe hasło" class="button" />
		        </td>
		      </tr>
		      <!-- IF GENERATE_DONE -->
		        <tr>
		          <td colspan="2" align="center"><h4>Wygenerowane hasło:</h4></td>
		        </tr>
		        <tr>
		          <td colspan="2" align="center"><textarea readonly="readonly" style="width:80%;text-align:left;min-height:80px;">{PASSWORD}</textarea></td>
		        </tr>
					<!-- ENDIF -->
		    </table>
		  </fieldset>
		</form>
  </div>
  <div class="panelBottom"></div>
</div>