<div class="panel">
  <div class="panelTop">
		<a href="artykuly.html" class="breadcrumb">Kategorie programów</a> &#187; {CAT_TITLE}
	</div>
  <div class="panelMain">
		<div class="center">
		  <h1 class="titles">{CAT_TITLE}</h1>
		  <span class="titles">{CAT_DESC}</span>
		</div>
		<ul class="list">
		<!-- BEGIN element -->
		  <li class="listElement">
		    <h2 class="listElementTitle"><a href="{element.URL}" class="block" title="{element.TITLE} - Zobacz artykuł">{element.TITLE}</a></h2>
		    <span class="listElementDesc">{element.META}</span>
		  </li>
		<!-- END element -->
		</ul>
  </div>
  <div class="panelBottom"></div>
</div>