<div class="panel">
  <div class="panelTop">Ostatnie posty</div>
  <div class="panelMain">
		<table class="tbl-border last_posts_panel">
			<!-- BEGIN post -->
			<tr>
	      <td class="tbl1" style="width:60%"><a href="{post.U_LAST_POST}" title="{post.TITLE}" class="block">{post.TITLE}</a></td>
	      <td class="tbl1" style="font-size:11px;text-align:center;width:20%;font-weight:bold;">{post.POSTER}</td>
	      <td class="tbl1" style="text-align:center;width:20%">{post.TIME}</td>
	    </tr>
	    <!-- END post -->
		</table>
	</div>
  <div class="panelBottom"></div>
</div>